openapi: 3.0.1
info:
  title: Geins Management API
  version: v1.11.0
  description: |
    
    Geins Management API is a RESTful api that powers your applications and helps you manage your Geins services. Geins provides an easy-to-use and scalable solution for managing all aspects of an online store, from product listings and customer information to order processing and payment transactions. 
    
    :::tip Tip
    With this API, you can build custom applications and integrate with third-party systems, feeds, dashboards and other bussiness logic apps.
    :::  
 
    ## Getting started
    Once you have created an account, you can start using the Management API by creating an `API User`. You can create as many API users as you need. Each `API user` is connected to a specific account so you can keep track of operations and manage keys.  
    You can find all your API credentials in `Geins Merchant Center`. 

    ### Fast track
    Use one of our [SDKs](https://docs.geins.io/docs/sdk/introduction) to get started quickly. The SDKs are available for the most popular programming languages and frameworks.

    Or, if you prefer to just take it for a test run:
    
    [![Run in Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/25895885-aaf6598f-1a7c-4949-85d7-ba846c42d553?action=collection%2Ffork&collection-url=entityId%3D25895885-aaf6598f-1a7c-4949-85d7-ba846c42d553%26entityType%3Dcollection%26workspaceId%3Da2a179ce-158e-46b0-8d06-e9640f45112c)
  
    ### Authentication
    Two authentication methods are required:
      - `Basic Auth`
      - `API Key`  

    All API credentials can be found in `Geins Merchant Center`.
  
    #### Basic Auth
    A Basic auth `Authorization` header needs to be included in every request. The value should be `Basic <credentials>` where `<credentials>` is the Base64 encoding of your `API username` and `API password` joined by a single colon `:`.  
    See [Wikipedia](https://en.wikipedia.org/wiki/Basic_access_authentication) for more information on Basic auth.

    #### API Key
     A `X-ApiKey` header needs to be included in every request. This header should contain the value of your `API key`.
    
    #### Example
    ```bash
    curl -X GET "https://mgmtapi.geins.io/API/Market/List" \
    -H "Authorization: Basic [USER-CREDENTIALS-BASE64-ENCODED]" \
    -H "X-ApiKey: [API-KEY]"
    ```
servers:
  - url: https://mgmtapi.carismar.io/
  -
paths:
  /API/Brand/{id}:
    get:
      tags:
        - Brand
      summary: Get brand
      description: Gets a specific brand by id.
      operationId: Get brand
      parameters:
        - name: id
          in: path
          description: The id of the brand to get.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: The requested brand.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-Brand.Models.Read.Brand'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
    put:
      tags:
        - Brand
      summary: Update brand
      description: "Leaving out a property will ensure no changes are made to that property.  \r\nCollection properties will delete and/or add as necessary to match the supplied data."
      operationId: Update brand
      parameters:
        - name: id
          in: path
          description: The id of the brand to update.
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        description: The brand data to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand.Models.Write.Brand'
        required: true
      responses:
        '200':
          description: The updated brand.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-Brand.Models.Read.Brand'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: brand
  /API/Brand/Query:
    post:
      tags:
        - Brand
      summary: Query brands
      operationId: Query brands
      requestBody:
        description: The details of the brand query.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand.Models.BrandQuery'
        required: true
      responses:
        '200':
          description: A collection of brands matching the supplied query.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Brand.Models.Read.Brand'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: query
  /API/Brand:
    post:
      tags:
        - Brand
      summary: Create brand
      operationId: Create brand
      requestBody:
        description: The brand to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand.Models.Write.Brand'
        required: true
      responses:
        '200':
          description: The created brand.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-Brand.Models.Read.Brand'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: brand
  /API/Category/{id}:
    get:
      tags:
        - Category
      summary: Get category
      operationId: Get category
      parameters:
        - name: id
          in: path
          description: The id of the category to get.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: The requested category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-Category.Models.Read.Category'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
    put:
      tags:
        - Category
      summary: Update category
      description: "Leaving out a property will ensure no changes are made to that property.  \r\nCollection properties will delete and/or add as necessary to match the supplied data."
      operationId: Update category
      parameters:
        - name: id
          in: path
          description: The id of the category to update.
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        description: The category data to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Category.Models.Write.Category'
        required: true
      responses:
        '200':
          description: The updated category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-Category.Models.Read.Category'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: category
  /API/Category/Query:
    post:
      tags:
        - Category
      summary: Query categories
      operationId: Query categories
      requestBody:
        description: The query to filter categories by.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Category.Models.CategoryQuery'
        required: true
      responses:
        '200':
          description: A collection of categories matching the supplied query.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category.Models.Read.Category'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: query
  /API/Category:
    post:
      tags:
        - Category
      summary: Create category
      operationId: Create category
      requestBody:
        description: The category to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Category.Models.Write.Category'
        required: true
      responses:
        '200':
          description: The created category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-Category.Models.Read.Category'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: category
  /API/Market/List:
    get:
      tags:
        - Market
      summary: List markets
      description: Gets a list of all markets
      operationId: List markets
      responses:
        '200':
          description: A collection of markets.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Market.Models.Market'
      security:
        - basicAuth: []
          apiKey: []
  /API/Market/{marketId}:
    get:
      tags:
        - Market
      summary: Get market
      operationId: Get market
      parameters:
        - name: marketId
          in: path
          description: The id of the market to get.
          required: true
          schema:
            type: string
        - name: marketIdType
          in: query
          description: "The type of market id supplied.  \r\n0 = Internal. Internal market id set by Geins.  \r\n1 = Name. The name of the market."
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
      responses:
        '200':
          description: The requested market.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-Market.Models.Market'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
  /API/Order/Count/{email}:
    get:
      tags:
        - Order
      summary: Count orders
      description: Gets the number of orders placed with the supplied email address.
      operationId: Count orders
      parameters:
        - name: email
          in: path
          description: The email adress to aggregate on.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The number of orders placed with the given email.
          content:
            application/json:
              schema:
                type: integer
                format: int32
      security:
        - basicAuth: []
          apiKey: []
  /API/Order/Query:
    post:
      tags:
        - Order
      summary: Query orders
      description: Queries orders.
      operationId: Query orders
      requestBody:
        description: The details of the query.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order.Models.OrderQuery'
        required: true
      responses:
        '200':
          description: A collection of orders matching the supplied query.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order.Models.Order'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: query
  /API/Order/Id:
    post:
      tags:
        - Order
      summary: Create order id
      description: Create a new order id.
      operationId: Create order id
      responses:
        '200':
          description: The id of the created order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-Int'
      security:
        - basicAuth: []
          apiKey: []
  /API/Order:
    post:
      tags:
        - Order
      summary: Create order
      description: Create a new order.
      operationId: Create order
      requestBody:
        description: The order object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order.Models.Order'
        required: true
      responses:
        '200':
          description: The id of the created order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-Int'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: order
  /API/Order/{id}/{include}:
    get:
      tags:
        - Order
      summary: Get order (id)
      description: Get order by id.
      operationId: Get order (id)
      parameters:
        - name: id
          in: path
          description: The ID of the order to get.
          required: true
          schema:
            type: integer
            format: int32
        - name: include
          in: path
          description: "A comma separated string of related collections to include with this result set.  \r\nPossible values are:  \r\nrows  \r\npaymentdetails  \r\nshippingdetails  \r\nrefunds"
          required: true
          schema:
            type: string
        - name: combineProductContainerRows
          in: query
          description: >-
            If true, will combine all order rows that are part of a container
            into a single container row.
          schema:
            type: boolean
      responses:
        '200':
          description: The order with the given id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order.Models.Order'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                type: object
      security:
        - basicAuth: []
          apiKey: []
  /API/OrderByPublicId/{publicId}/{include}:
    get:
      tags:
        - Order
      summary: Get order (public id)
      description: Get order by public id.
      operationId: Get order (public id)
      parameters:
        - name: publicId
          in: path
          description: The Public ID of the order to get.
          required: true
          schema:
            type: string
            format: uuid
        - name: include
          in: path
          description: "A comma separated string of related collections to include with this result set.  \r\nPossible values are:  \r\nrows  \r\npaymentdetails  \r\nshippingdetails  \r\nrefunds"
          required: true
          schema:
            type: string
        - name: combineProductContainerRows
          in: query
          description: >-
            If true, will combine all order rows that are part of a container
            into a single container row.
          schema:
            type: boolean
      responses:
        '200':
          description: The order with the given public id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order.Models.Order'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                type: object
      security:
        - basicAuth: []
          apiKey: []
  /API/Order/{id}:
    delete:
      tags:
        - Order
      summary: Delete order
      description: Deletes or deactivates an order.
      operationId: Delete order
      parameters:
        - name: id
          in: path
          description: The ID of the order to delete.
          required: true
          schema:
            type: integer
            format: int32
        - name: operation
          in: query
          description: "The method of deletion desired.  \r\n0 = OnHold. Put this order on hold.  \r\n1 = Cancel. Cancel this order permanently.  \r\n2 = Deactivate. Mark this order as no longer active."
          required: true
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
              - 2
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                type: object
      security:
        - basicAuth: []
          apiKey: []
    patch:
      tags:
        - Order
      summary: Partial update of an order
      operationId: Partial update of order
      parameters:
        - name: id
          in: path
          description: The orderId of the order to update
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        description: The order object containing the properties that should be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order.Models.OrderUpdate'
        required: true
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                type: object
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: order
  /API/Order/{orderId}/OrderRow/{orderRowId}:
    delete:
      tags:
        - Order
      summary: Cancel order row
      description: "Cancels an order row.  \r\nCan only be done on an order that has not been delivered or cancelled."
      operationId: Cancel order row
      parameters:
        - name: orderId
          in: path
          description: The id of the order containing the order row.
          required: true
          schema:
            type: integer
            format: int32
        - name: orderRowId
          in: path
          description: The id of the order row to cancel.
          required: true
          schema:
            type: integer
            format: int32
        - name: skipRestock
          in: query
          description: >-
            If true will not restock the item that was cancelled. Defaults to
            false.
          schema:
            type: boolean
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
  /API/Order/Statuses:
    get:
      tags:
        - Order
      summary: Get order statuses
      description: Get a list of available order statuses.
      operationId: Get order statuses
      responses:
        '200':
          description: A list of order statuses.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order.Models.OrderStatus'
      security:
        - basicAuth: []
          apiKey: []
  /API/Order/{id}/Status/{status}/{transactionId}/{secondaryTransactionId}:
    post:
      tags:
        - Order
      summary: Update order status
      operationId: Update order status
      parameters:
        - name: id
          in: path
          description: The order id.
          required: true
          schema:
            type: integer
            format: int32
        - name: status
          in: path
          description: "The order status to set.  \r\n0 = Undefined  \r\n1 = Completed  \r\n2 = Cancelled  \r\n3 = OnHold  \r\n4 = Inactive  \r\n5 = OutOfStock  \r\n6 = Backorder  \r\n7 = Pending"
          required: true
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
              - 5
              - 6
              - 7
        - name: transactionId
          in: path
          description: A transaction id can be set here if status is set to pending.
          required: true
          schema:
            type: string
        - name: secondaryTransactionId
          in: path
          description: >-
            A secondary transaction id, if any, can be set here if status is set
            to pending.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
  /API/Order/PaymentDetail/{paymentDetailId}/SetAsPaid:
    post:
      tags:
        - Order
      summary: Set payment as paid
      operationId: Set payment as paid
      parameters:
        - name: paymentDetailId
          in: path
          description: Payment Detail ID.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
  /API/Order/Capture/{captureId}:
    get:
      tags:
        - Order
      summary: Get capture
      operationId: Get capture
      parameters:
        - name: captureId
          in: path
          description: Capture ID.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-Order.Capture'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
  /API/Order/Capture/SetAsProcessed:
    post:
      tags:
        - Order
      summary: Set capture as processed
      description: Sets a capture as processed (= captured).
      operationId: Set capture as processed
      requestBody:
        description: Contains CaptureId and optional metadata about capture.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order.ProcessedCapture'
        required: true
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: processedCapture
  /API/Order/ValidateCreation:
    post:
      tags:
        - Order
      summary: Validate order
      description: Validates order data for order creation.
      operationId: Validate order
      requestBody:
        description: The order data to validate.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order.ValidateOrderCreationRequest'
        required: true
      responses:
        '200':
          description: The validation result.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-API.Order.OrderCreationValidationStatus
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: request
  /API/Order/{id}/Comment:
    post:
      tags:
        - Order
      summary: Add order comment
      description: Adds a comment to an order. This does not replace any previous comments.
      operationId: Add order comment
      parameters:
        - name: id
          in: path
          description: Order ID.
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        description: The comment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API.Order.OrderComment'
        required: true
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: orderComment
  /API/Order/{id}/TransactionData:
    post:
      tags:
        - Order
      summary: Update transaction data
      description: Updates transaction data on an order.
      operationId: Update transaction data
      parameters:
        - name: id
          in: path
          description: Order ID.
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        description: The transaction data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API.Order.TransactionData'
        required: true
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: transactionData
  /API/PageAreaFamily/List:
    get:
      tags:
        - PageArea
      summary: List page area families
      description: Gets a list of all page area families, including nested data.
      operationId: List page area families
      responses:
        '200':
          description: A collection of all page area families.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-List-PageArea.Models.Read.PageAreaFamily
      security:
        - basicAuth: []
          apiKey: []
  /API/PageAreaFamily/{familyId}:
    get:
      tags:
        - PageArea
      summary: Get page area family
      description: Gets a specific page area family.
      operationId: Get page area family
      parameters:
        - name: familyId
          in: path
          description: The id of the page area family to get.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: The page area family with the given id.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-PageArea.Models.Read.PageAreaFamily
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
  /API/PageArea/{name}:
    get:
      tags:
        - PageArea
      summary: Get page area
      description: Gets a specific page area.
      operationId: Get page area
      parameters:
        - name: name
          in: path
          description: The name of the page area to get.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The page area with the given name.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-PageArea.Models.Read.PageArea'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
  /API/PageAreaFamily:
    post:
      tags:
        - PageArea
      summary: Create/update page area family
      description: Creates or updates a page area family.
      operationId: Create/update page area family
      requestBody:
        description: The family model to create or update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageArea.Models.Write.PageAreaFamily'
        required: true
      responses:
        '200':
          description: The affected page area family.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-PageArea.Models.Read.PageAreaFamily
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: family
  /API/PageArea:
    post:
      tags:
        - PageArea
      summary: Create/update page area
      description: Creates or updates a page area.
      operationId: Create/update page area
      requestBody:
        description: The area model to create or update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageArea.Models.Write.PageArea'
        required: true
      responses:
        '200':
          description: The affected page area.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-PageArea.Models.Read.PageArea'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: area
  /API/Payment/Query:
    post:
      tags:
        - Payment
      summary: Query payment options
      operationId: Query payment options
      requestBody:
        description: The payment query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment.Models.PaymentOptionQuery'
        required: true
      responses:
        '200':
          description: A collection of payment options matching the supplied query.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Payment.Models.PaymentOption'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: query
  /API/PriceList/List:
    get:
      tags:
        - PriceList
      summary: List price lists
      description: "Gets all price list definitions.  \r\n- Prices on campaign price lists (id: xxxxxx2) can not be updated. Any such entries will be ignored.  \r\n- ID for Ordinary, Sale and Campaign price lists starts from 1000000.  \r\nThe ID is calculated by this formula, Market ID * 1000000 + Type of price list (Ordinary=0, Sale=1, Capaign=2)  \r\nEg:  \r\nOrdinary price list for market with ID 1 has ID = 1000000  \r\nSale price list for market with ID 1 has ID = 1000001  \r\nCampaign price list for market with ID 1 has ID = 1000002  \r\nOrdinary price list for market with ID 2 has ID = 2000000"
      operationId: List price lists
      responses:
        '200':
          description: A collection of price lists.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PriceList.Models.PriceList'
      security:
        - basicAuth: []
          apiKey: []
  /API/PriceList/Price:
    put:
      tags:
        - PriceList
      summary: Update price list prices
      description: "Updates price list prices.  \r\n- Prices on campaign price lists (id: xxxxxx2) can not be updated. Any such entries will be ignored.  \r\n- ID for Ordinary, Sale and Campaign price lists starts from 1000000.  \r\nThe ID is calculated by this formula, Market ID * 1000000 + Type of price list (Ordinary=0, Sale=1, Capaign=2)  \r\nEg:  \r\nOrdinary price list for market with ID 1 has ID = 1000000  \r\nSale price list for market with ID 1 has ID = 1000001  \r\nCampaign price list for market with ID 1 has ID = 1000002  \r\nOrdinary price list for market with ID 2 has ID = 2000000"
      operationId: Update price list prices
      parameters:
        - name: productIdType
          in: query
          description: "The type of product id supplied.  \r\n0 = Internal. Internal product id set by Geins.  \n            Eg: 10001.  \r\n1 = ArticleNumber. Article number set by customer.  \n            Eg: ABC123.  \r\n2 = MarketPrefixedInternal. Internal product id set by Geins, prefixed with market.  \n            Eg: SE10001.  \r\n3 = MarketPrefixedArticleNumber. Article number set by customer, prefixed with market.  \n            Eg: SEABC123."
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
              - 2
              - 3
        - name: pricesIncVat
          in: query
          description: >-
            Set to true if prices includes VAT. Leave blank or set to false if
            they exclude VAT.
          schema:
            type: boolean
      requestBody:
        description: List of new price list prices.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceList.Models.Write.PriceListPrice'
        required: true
      responses:
        '200':
          description: The result of the update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceList.Models.PriceListPriceResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceList.Models.PriceListPriceResponse'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: priceListPrices
  /API/Product/{productId}:
    get:
      tags:
        - Product
      summary: Get product
      description: >-
        Gets a specific product. Make sure to include relevant child-collections
        in the request.
      operationId: Get product
      parameters:
        - name: productId
          in: path
          description: The id of the product to get.
          required: true
          schema:
            type: string
        - name: productIdType
          in: query
          description: "The type of product id supplied.  \r\n0 = Internal. Internal product id set by Geins.  \n            Eg: 10001.  \r\n1 = ArticleNumber. Article number set by customer.  \n            Eg: ABC123.  \r\n2 = MarketPrefixedInternal. Internal product id set by Geins, prefixed with market.  \n            Eg: SE10001.  \r\n3 = MarketPrefixedArticleNumber. Article number set by customer, prefixed with market.  \n            Eg: SEABC123."
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
              - 2
              - 3
        - name: include
          in: query
          description: "Set to empty string to only include basic product data or null to not include any product data.  \r\nValid options:  \r\nNames, ShortTexts, LongTexts, TechTexts, Items, Prices, Categories, Parameters, Variants, Markets, Images, Feeds, Urls, ShippingFees, RelatedProducts, DiscountCampaigns"
          schema:
            type: string
      responses:
        '200':
          description: The requested product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-Product.Models.Read.Product'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
    put:
      tags:
        - Product
      summary: Update product
      description: Updates a product.
      operationId: Update product
      parameters:
        - name: productId
          in: path
          description: The id of the product to update.
          required: true
          schema:
            type: string
        - name: productIdType
          in: query
          description: "The type of product id supplied.  \r\n0 = Internal. Internal product id set by Geins.  \n            Eg: 10001.  \r\n1 = ArticleNumber. Article number set by customer.  \n            Eg: ABC123.  \r\n2 = MarketPrefixedInternal. Internal product id set by Geins, prefixed with market.  \n            Eg: SE10001.  \r\n3 = MarketPrefixedArticleNumber. Article number set by customer, prefixed with market.  \n            Eg: SEABC123."
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
              - 2
              - 3
        - name: include
          in: query
          description: "Set to empty string to only include basic product data or null to not include any product data.  \r\nValid options:  \r\nNames, ShortTexts, LongTexts, TechTexts, Items, Prices, Categories, Parameters, Variants, Markets, Images, Feeds, Urls, ShippingFees, RelatedProducts, DiscountCampaigns"
          schema:
            type: string
      requestBody:
        description: The product data to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product.Models.Write.Product'
        required: true
      responses:
        '200':
          description: The updated product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-Product.Models.Read.Product'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: product
    delete:
      tags:
        - Product
      summary: Delete product
      description: Deletes a specific product.
      operationId: Delete product
      parameters:
        - name: productId
          in: path
          description: The id of the product to delete.
          required: true
          schema:
            type: string
        - name: productIdType
          in: query
          description: "The type of product id supplied.  \r\n0 = Internal. Internal product id set by Geins.  \n            Eg: 10001.  \r\n1 = ArticleNumber. Article number set by customer.  \n            Eg: ABC123.  \r\n2 = MarketPrefixedInternal. Internal product id set by Geins, prefixed with market.  \n            Eg: SE10001.  \r\n3 = MarketPrefixedArticleNumber. Article number set by customer, prefixed with market.  \n            Eg: SEABC123."
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
              - 2
              - 3
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
  /API/Product/Query:
    post:
      tags:
        - Product
      summary: Query products
      operationId: Query products
      parameters:
        - name: include
          in: query
          description: "Set to empty string to only include basic product data or null to not include any product data.  \r\nValid options:  \r\nNames, ShortTexts, LongTexts, TechTexts, Items, Prices, Categories, Parameters, Variants, Markets, Images, Feeds, Urls, ShippingFees, RelatedProducts, DiscountCampaigns"
          schema:
            type: string
      requestBody:
        description: "The Product Query endpoint allows for product retrieval using various filters.  \r\n**Note:** `ProductIds`, `ArticleNumbers`, and `UpdatedAfter` are exclusive filters and cannot be combined in one query.  \r\nAdditional filters are available for more refined searches and can be used with any of the primary parameters."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product.Models.ProductQuery'
        required: true
      responses:
        '200':
          description: A collection of products matching the supplied query.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PagedEnvelope-List-Product.Models.Read.Product
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: query
  /API/Product/Query/{page}:
    post:
      tags:
        - Product
      summary: Query products (paged)
      description: "The batch id is mandatory when fetching any page other than the first page.  \r\nIf no batch id is provided for the first page, then a new batch is created.  \r\nBatch id and pagination information can be found in the response."
      operationId: Query products (paged)
      parameters:
        - name: page
          in: path
          description: >-
            The page to fetch. To start a new batched query it is mandatory to
            send in page=1.
          required: true
          schema:
            type: integer
            format: int32
        - name: include
          in: query
          description: "Set to empty string to only include basic product data or null to not include any product data.  \r\nValid options:  \r\nNames, ShortTexts, LongTexts, TechTexts, Items, Prices, Categories, Parameters, Variants, Markets, Images, Feeds, Urls, ShippingFees, RelatedProducts, DiscountCampaigns"
          schema:
            type: string
      requestBody:
        description: The details of the query.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product.Models.ProductQuery'
        required: true
      responses:
        '200':
          description: A collection of products matching the supplied query and batch page.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/PagedEnvelope-List-Product.Models.Read.Product
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: query
  /API/Product:
    post:
      tags:
        - Product
      summary: Create product
      description: Creates a new product.
      operationId: Create product
      parameters:
        - name: include
          in: query
          description: "Set to empty string to only include basic product data or null to not include any product data.  \r\nValid options:  \r\nNames, ShortTexts, LongTexts, TechTexts, Items, Prices, Categories, Parameters, Variants, Markets, Images, Feeds, Urls, ShippingFees, RelatedProducts, DiscountCampaigns"
          schema:
            type: string
      requestBody:
        description: The product to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product.Models.Write.Product'
        required: true
      responses:
        '200':
          description: The created product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-Product.Models.Read.Product'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: product
  /API/Product/{productId}/Category:
    put:
      tags:
        - Product
      summary: Add category to product
      description: Adds a category relation to a product.
      operationId: Add category to product
      parameters:
        - name: productId
          in: path
          description: The id of the product to update.
          required: true
          schema:
            type: string
        - name: productIdType
          in: query
          description: "The type of product id supplied.  \r\n0 = Internal. Internal product id set by Geins.  \n            Eg: 10001.  \r\n1 = ArticleNumber. Article number set by customer.  \n            Eg: ABC123.  \r\n2 = MarketPrefixedInternal. Internal product id set by Geins, prefixed with market.  \n            Eg: SE10001.  \r\n3 = MarketPrefixedArticleNumber. Article number set by customer, prefixed with market.  \n            Eg: SEABC123."
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
              - 2
              - 3
      requestBody:
        description: The category to relate the product to.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product.Models.ProductCategory'
        required: true
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: productCategory
  /API/Product/MonitorAvailability:
    post:
      tags:
        - Product
      summary: Add availability monitor
      description: Adds a product availability monitor.
      operationId: Add availability monitor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product.Models.MonitorSku'
        required: true
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: model
  /API/Product/Item/{itemId}:
    get:
      tags:
        - Product
      summary: Get product item
      description: Gets a specific product item (SKU).
      operationId: Get product item
      parameters:
        - name: itemId
          in: path
          description: The id of the product item to get.
          required: true
          schema:
            type: string
        - name: productItemIdType
          in: query
          description: "The type of product item id supplied.  \r\n0 = Internal. Internal product item id set by Geins.  \n            Eg: 10001.  \r\n1 = ArticleNumber. Article number set by customer.  \n            Eg: ABC123.  \r\n2 = MarketPrefixedInternal. Internal product item id set by Geins, prefixed with market.  \n            Eg: SE10001.  \r\n3 = MarketPrefixedArticleNumber. Article number set by customer, prefixed with market.  \n            Eg: SEABC123.  \r\n4 = ExternalId. External product item id set by customer.  \n            Eg: 10001."
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
      responses:
        '200':
          description: The requested product item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product.ProductItemEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
    put:
      tags:
        - Product
      summary: Update product item
      description: Updates a product item.
      operationId: Update product item
      parameters:
        - name: itemId
          in: path
          description: The id of the product item to update.
          required: true
          schema:
            type: string
        - name: productItemIdType
          in: query
          description: "The type of product item id supplied.  \r\n0 = Internal. Internal product item id set by Geins.  \n            Eg: 10001.  \r\n1 = ArticleNumber. Article number set by customer.  \n            Eg: ABC123.  \r\n2 = MarketPrefixedInternal. Internal product item id set by Geins, prefixed with market.  \n            Eg: SE10001.  \r\n3 = MarketPrefixedArticleNumber. Article number set by customer, prefixed with market.  \n            Eg: SEABC123.  \r\n4 = ExternalId. External product item id set by customer.  \n            Eg: 10001."
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
      requestBody:
        description: The product item data to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product.Models.Write.ProductItem'
        required: true
      responses:
        '200':
          description: The updated product item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-Product.Models.Read.ProductItem'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: productItem
  /API/Product/Items:
    get:
      tags:
        - Product
      summary: List product items
      description: Gets all product items.
      operationId: List product items
      responses:
        '200':
          description: A collection with all product items.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product.Models.Read.ProductItem'
      security:
        - basicAuth: []
          apiKey: []
    put:
      tags:
        - Product
      summary: Update product items (batch)
      description: Updates product items in batch.
      operationId: Update product items (batch)
      parameters:
        - name: productItemIdType
          in: query
          description: "The type of product item ids supplied.  \r\n0 = Internal. Internal product item id set by Geins.  \n            Eg: 10001.  \r\n1 = ArticleNumber. Article number set by customer.  \n            Eg: ABC123.  \r\n2 = MarketPrefixedInternal. Internal product item id set by Geins, prefixed with market.  \n            Eg: SE10001.  \r\n3 = MarketPrefixedArticleNumber. Article number set by customer, prefixed with market.  \n            Eg: SEABC123.  \r\n4 = ExternalId. External product item id set by customer.  \n            Eg: 10001."
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
      requestBody:
        description: The product items to update.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Product.Models.Write.ProductItem'
        required: true
      responses:
        '200':
          description: The update result.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-Product.Models.Read.ProductItemResult
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: productItems
  /API/Product/Items/{page}:
    get:
      tags:
        - Product
      summary: List product items (paged)
      description: Gets all product items with pagination.
      operationId: List product items (paged)
      parameters:
        - name: page
          in: path
          description: The page to fetch.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A collection with product items for the supplied page.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-List-Product.Models.Read.ProductItem
      security:
        - basicAuth: []
          apiKey: []
  /API/Product/{productId}/Item:
    post:
      tags:
        - Product
      summary: Create product item
      description: Creates a new product item.
      operationId: Create product item
      parameters:
        - name: productId
          in: path
          description: The id of the product to create an item on.
          required: true
          schema:
            type: string
        - name: productIdType
          in: query
          description: "The type of product id supplied.  \r\n0 = Internal. Internal product id set by Geins.  \n            Eg: 10001.  \r\n1 = ArticleNumber. Article number set by customer.  \n            Eg: ABC123.  \r\n2 = MarketPrefixedInternal. Internal product id set by Geins, prefixed with market.  \n            Eg: SE10001.  \r\n3 = MarketPrefixedArticleNumber. Article number set by customer, prefixed with market.  \n            Eg: SEABC123."
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
              - 2
              - 3
      requestBody:
        description: The product item to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product.Models.Write.ProductItem'
        required: true
      responses:
        '200':
          description: The created product item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-Product.Models.Read.ProductItem'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: productItem
  /API/Product/Stock:
    put:
      tags:
        - Product
      summary: Update stock (batch)
      description: Update stock values for multiple product items.
      operationId: Update stock (batch)
      parameters:
        - name: productItemIdType
          in: query
          description: "The type of product item id supplied.  \r\n0 = Internal. Internal product item id set by Geins.  \n            Eg: 10001.  \r\n1 = ArticleNumber. Article number set by customer.  \n            Eg: ABC123.  \r\n2 = MarketPrefixedInternal. Internal product item id set by Geins, prefixed with market.  \n            Eg: SE10001.  \r\n3 = MarketPrefixedArticleNumber. Article number set by customer, prefixed with market.  \n            Eg: SEABC123.  \r\n4 = ExternalId. External product item id set by customer.  \n            Eg: 10001."
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
      requestBody:
        description: List of product item ids with new stock values.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Product.Models.Write.ProductItemStock'
        required: true
      responses:
        '200':
          description: The update result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product.Models.StockEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product.Models.StockEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: productItemStocks
  /API/Product/Stock/Query:
    post:
      tags:
        - Product
      summary: Query stock
      operationId: Query stock
      requestBody:
        description: The details of the query.
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int32
        required: true
      responses:
        '200':
          description: A collection of stock values matching the supplied query.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-List-Product.Models.Read.ProductItemStock
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: productItemIds
  /API/Product/Feeds:
    get:
      tags:
        - Product
      summary: List feeds
      description: Gets a list of all feeds.
      operationId: List feeds
      responses:
        '200':
          description: A collection of feeds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-List-Product.Models.Read.Feed'
      security:
        - basicAuth: []
          apiKey: []
  /API/Product/RelationTypes:
    get:
      tags:
        - Product
      summary: List product relation types
      description: Gets a list of product relation types
      operationId: List product relation types
      responses:
        '200':
          description: A collection of product relation types.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-List-Product.Models.Read.RelationType
      security:
        - basicAuth: []
          apiKey: []
  /API/Product/{productId}/Related/{relationTypeId}:
    put:
      tags:
        - Product
      summary: Link related products
      description: Add related products to a product using a fixed relation type.
      operationId: Link related products
      parameters:
        - name: productId
          in: path
          description: The id of the main product to which the relations will be created.
          required: true
          schema:
            type: string
        - name: relationTypeId
          in: path
          description: >-
            The relation type id that will apply to all related products in
            relatedProducts.
          required: true
          schema:
            type: integer
            format: int32
        - name: productIdType
          in: query
          description: "The type of product id supplied in productId and relatedProducts.  \r\n0 = Internal. Internal product id set by Geins.  \n            Eg: 10001.  \r\n1 = ArticleNumber. Article number set by customer.  \n            Eg: ABC123.  \r\n2 = MarketPrefixedInternal. Internal product id set by Geins, prefixed with market.  \n            Eg: SE10001.  \r\n3 = MarketPrefixedArticleNumber. Article number set by customer, prefixed with market.  \n            Eg: SEABC123."
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
              - 2
              - 3
      requestBody:
        description: The list of related products to link with the main product.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Product.Models.Write.RelatedProduct'
        required: true
      responses:
        '200':
          description: The result of the update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product.Models.RelatedProductEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product.Models.RelatedProductEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: relatedProducts
  /API/Product/{productId}/Related:
    put:
      tags:
        - Product
      summary: Add related products to a product
      operationId: Add related products to product
      parameters:
        - name: productId
          in: path
          description: The id of the main product to which the relations will be created
          required: true
          schema:
            type: string
        - name: productIdType
          in: query
          description: "The type of product id supplied in productId and relatedProducts.  \r\n0 = Internal. Internal product id set by Geins.  \n            Eg: 10001.  \r\n1 = ArticleNumber. Article number set by customer.  \n            Eg: ABC123.  \r\n2 = MarketPrefixedInternal. Internal product id set by Geins, prefixed with market.  \n            Eg: SE10001.  \r\n3 = MarketPrefixedArticleNumber. Article number set by customer, prefixed with market.  \n            Eg: SEABC123."
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
              - 2
              - 3
      requestBody:
        description: The list of related products to link with the main product.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Product.Models.Write.RelatedProduct'
        required: true
      responses:
        '200':
          description: The result of the update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product.Models.RelatedProductEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product.Models.RelatedProductEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: relatedProducts
  /API/Product/{productId}/UnlinkRelated/{relationTypeId}:
    put:
      tags:
        - Product
      summary: Unlink related products (via relation).
      description: Remove related products from a product using a fixed relation type.
      operationId: Unlink related products (via relation)
      parameters:
        - name: productId
          in: path
          description: The id of the main product from which the relations will be removed.
          required: true
          schema:
            type: string
        - name: relationTypeId
          in: path
          description: >-
            The relation type id that will apply to all related products in
            relatedProducts.
          required: true
          schema:
            type: integer
            format: int32
        - name: productIdType
          in: query
          description: "The type of product id supplied in productId and relatedProducts.  \r\n0 = Internal. Internal product id set by Geins.  \n            Eg: 10001.  \r\n1 = ArticleNumber. Article number set by customer.  \n            Eg: ABC123.  \r\n2 = MarketPrefixedInternal. Internal product id set by Geins, prefixed with market.  \n            Eg: SE10001.  \r\n3 = MarketPrefixedArticleNumber. Article number set by customer, prefixed with market.  \n            Eg: SEABC123."
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
              - 2
              - 3
      requestBody:
        description: The list of related products to unlink from the main product.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Product.Models.Write.RelatedProduct'
        required: true
      responses:
        '200':
          description: The result of the update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product.Models.RelatedProductEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product.Models.RelatedProductEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: relatedProducts
  /API/Product/{productId}/Image/{imageName}:
    put:
      tags:
        - ProductImage
      summary: Add/update product image
      description: "Creates or updates an image on a product. If an image with the same file already exists it will be replaced.  \r\nThe image is included in the body of the request as binary data."
      operationId: Add/update product image
      parameters:
        - name: productId
          in: path
          description: The id of the product to update.
          required: true
          schema:
            type: string
        - name: imageName
          in: path
          description: The file name of the image that is uploaded.
          required: true
          schema:
            type: string
        - name: position
          in: query
          description: "The relative position of the image in the list of images for the product.  \r\nFor new images this will default to 1 if not set. Leave as null to not change the position on an existing image."
          schema:
            type: integer
            format: int32
        - name: isPrimaryImage
          in: query
          description: >-
            Specifies whether this image is the primary image on the product.
            Will not remove the image as primary image if set to false.
          schema:
            type: boolean
        - name: productIdType
          in: query
          description: "The type of product id supplied.  \r\n0 = Internal. Internal product id set by Geins.  \n            Eg: 10001.  \r\n1 = ArticleNumber. Article number set by customer.  \n            Eg: ABC123.  \r\n2 = MarketPrefixedInternal. Internal product id set by Geins, prefixed with market.  \n            Eg: SE10001.  \r\n3 = MarketPrefixedArticleNumber. Article number set by customer, prefixed with market.  \n            Eg: SEABC123."
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
              - 2
              - 3
      requestBody:
        description: The binary data for the image to be uploaded.
        content:
          image/jpeg:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '200':
          description: Details of the uploaded image.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-Product.Models.Read.UploadedImage
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: payload
    post:
      tags:
        - ProductImage
      summary: Add product image
      description: "Uploads a new image on a product. If an image with the same file name already exists, the image will still be uploaded but with a new unique name.  \r\nThe image is included in the body of the request as binary data."
      operationId: Add product image
      parameters:
        - name: productId
          in: path
          description: The id of the product to update.
          required: true
          schema:
            type: string
        - name: imageName
          in: path
          description: The file name of the image that is uploaded.
          required: true
          schema:
            type: string
        - name: position
          in: query
          description: >-
            The relative position of the image in the list of images for the
            product. Will default to 1 if not set.
          schema:
            type: integer
            format: int32
        - name: isPrimaryImage
          in: query
          description: >-
            Specifies whether this image is the primary image on the product.
            Will not remove the image as primary image if set to false.
          schema:
            type: boolean
        - name: productIdType
          in: query
          description: "The type of product id supplied.  \r\n0 = Internal. Internal product id set by Geins.  \n            Eg: 10001.  \r\n1 = ArticleNumber. Article number set by customer.  \n            Eg: ABC123.  \r\n2 = MarketPrefixedInternal. Internal product id set by Geins, prefixed with market.  \n            Eg: SE10001.  \r\n3 = MarketPrefixedArticleNumber. Article number set by customer, prefixed with market.  \n            Eg: SEABC123."
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
              - 2
              - 3
      requestBody:
        description: The binary data for the image to be uploaded.
        content:
          image/jpeg:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '200':
          description: Details of the uploaded image.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-Product.Models.Read.UploadedImage
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: payload
    delete:
      tags:
        - ProductImage
      summary: Delete product image
      description: >-
        Deletes an image on a product. Does not delete the physical image file
        from storage.
      operationId: Delete product image
      parameters:
        - name: productId
          in: path
          description: The id of the product to update.
          required: true
          schema:
            type: string
        - name: imageName
          in: path
          description: The file name of the image to delete.
          required: true
          schema:
            type: string
        - name: productIdType
          in: query
          description: "The type of product id supplied.  \r\n0 = Internal. Internal product id set by Geins.  \n            Eg: 10001.  \r\n1 = ArticleNumber. Article number set by customer.  \n            Eg: ABC123.  \r\n2 = MarketPrefixedInternal. Internal product id set by Geins, prefixed with market.  \n            Eg: SE10001.  \r\n3 = MarketPrefixedArticleNumber. Article number set by customer, prefixed with market.  \n            Eg: SEABC123."
          schema:
            type: integer
            format: int32
            enum:
              - 0
              - 1
              - 2
              - 3
      responses:
        '200':
          description: Details of the uploaded image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
  /API/ProductParameter/{id}:
    get:
      tags:
        - ProductParameter
      summary: Get product parameter
      description: Gets a specific product parameter
      operationId: Get product parameter
      parameters:
        - name: id
          in: path
          description: The id of the product parameter to get.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: The requested product parameter.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-ProductParameter.Models.Read.ProductParameter
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
    put:
      tags:
        - ProductParameter
      summary: Update product parameter
      description: "Updates a product parameter.  \r\nLeaving out a property will ensure no changes are made to that property. Collection properties will delete and/or add as necessary to match the supplied data."
      operationId: Update product parameter
      parameters:
        - name: id
          in: path
          description: The id of the product parameter to update.
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        description: The product parameter data to update.
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ProductParameter.Models.Write.ProductParameter
        required: true
      responses:
        '200':
          description: The updated product parameter.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-ProductParameter.Models.Read.ProductParameter
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: productParameter
  /API/ProductParameter:
    post:
      tags:
        - ProductParameter
      summary: Create product parameter
      description: Creates a new product parameter.
      operationId: Create product parameter
      requestBody:
        description: The product parameter to create.
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ProductParameter.Models.Write.ProductParameter
        required: true
      responses:
        '200':
          description: The created product parameter.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-ProductParameter.Models.Read.ProductParameter
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: productParameter
  /API/ProductParameter/Group/{id}:
    get:
      tags:
        - ProductParameter
      summary: Get product parameter group
      description: Gets a specific product parameter group.
      operationId: Get product parameter group
      parameters:
        - name: id
          in: path
          description: The id of the product parameter group to get.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: The requested product parameter group.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-ProductParameter.Models.Read.ProductParameterGroup
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
    put:
      tags:
        - ProductParameter
      summary: Update product parameter group
      description: "Updates a product parameter group.  \r\nLeaving out a property will ensure no changes are made to that property. Collection properties will delete and/or add as necessary to match the supplied data."
      operationId: Update product parameter group
      parameters:
        - name: id
          in: path
          description: The id of the product parameter group to update.
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        description: The product parameter group data to update.
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ProductParameter.Models.Write.ProductParameterGroup
        required: true
      responses:
        '200':
          description: The updated product parameter group.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-ProductParameter.Models.Read.ProductParameterGroup
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: productParameterGroup
  /API/ProductParameter/Group:
    post:
      tags:
        - ProductParameter
      summary: Create product parameter group
      description: Creates a new product parameter group.
      operationId: Create product parameter group
      requestBody:
        description: The product parameter group to create.
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ProductParameter.Models.Write.ProductParameterGroup
        required: true
      responses:
        '200':
          description: The created product parameter group.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-ProductParameter.Models.Read.ProductParameterGroup
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: productParameterGroup
  /API/ProductParameter/Value/{id}:
    get:
      tags:
        - ProductParameter
      summary: Get product parameter value
      description: Gets a specific product parameter value.
      operationId: Get product parameter value
      parameters:
        - name: id
          in: path
          description: The id of the product parameter value to get.
          required: true
          schema:
            type: integer
            format: int32
        - name: predefinedValueId
          in: query
          description: >-
            The predefined value id of the product parameter value to get. Only
            applicable for parameter type Multi.
          schema:
            type: string
      responses:
        '200':
          description: The requested product parameter group.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-ProductParameter.Models.Read.ProductParameterValue
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
  /API/ProductParameter/Value:
    post:
      tags:
        - ProductParameter
      summary: Create/update product parameter value
      description: Creates or updates a new product parameter value.
      operationId: Create or update product parameter value
      requestBody:
        description: The product parameter value to create or update.
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ProductParameter.Models.Write.ProductParameterValue
        required: true
      responses:
        '200':
          description: The updated or created product parameter value.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-ProductParameter.Models.Read.ProductParameterValue
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: productParameterValue
  /API/ProductParameter/Values:
    put:
      tags:
        - ProductParameter
      summary: Update product parameter values (batch)
      description: >-
        Updates multiple product parameter values. Any existing product
        parameter values not supplied in the request will remain on the product.
      operationId: Update product parameter values (batch)
      requestBody:
        description: The product parameter values update.
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ProductParameter.Models.Write.ProductParameterValueBatch
        required: true
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: productParameterBatch
    post:
      tags:
        - ProductParameter
      summary: Replace product parameter values (batch)
      description: >-
        Replaces multiple product parameter values. Any existing product
        parameter values that is *not* supplied in the request will be removed
        from the product.
      operationId: Replace product parameter values (batch)
      requestBody:
        description: The product parameter values to replace.
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ProductParameter.Models.Write.ProductParameterValueBatch
        required: true
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: productParameterBatch
  /API/ProductParameter/PredefinedValue/{id}:
    get:
      tags:
        - ProductParameter
      summary: Get product parameter predefined value
      description: Gets a specific predefined value for a product parameter.
      operationId: Get product parameter predefined value
      parameters:
        - name: id
          in: path
          description: The id of the predefined value to get.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: The requested predefined value.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-ProductParameter.Models.Read.ProductParameterValue
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
  /API/ProductParameter/PredefinedValue:
    post:
      tags:
        - ProductParameter
      summary: Create product parameter predefined value
      description: Creates a new predefined value for a product parameter.
      operationId: Create product parameter predefined value
      requestBody:
        description: The predefined value to create.
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/ProductParameter.Models.Write.ProductParameterPredefinedValue
        required: true
      responses:
        '200':
          description: The created product parameter predefined value.
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/Envelope-ProductParameter.Models.Read.ProductParameterPredefinedValue
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: productParameterPredefinedValue
  /API/Order/{orderId}/Refund/{refundId}:
    get:
      tags:
        - Refund
      summary: Get refund
      operationId: Get refund
      parameters:
        - name: orderId
          in: path
          description: The order id.
          required: true
          schema:
            type: integer
            format: int32
        - name: refundId
          in: path
          description: The refund id.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The refund with the given id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-Refund'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
  /API/Order/{orderId}/Refund/List:
    get:
      tags:
        - Refund
      summary: List refunds
      description: Get all refunds on an order.
      operationId: List refunds
      parameters:
        - name: orderId
          in: path
          description: The Order ID.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A collection of the requested refunds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-List-Refund'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
  /API/Refund/Query:
    post:
      tags:
        - Refund
      summary: Query refunds
      description: Queries all refunds.
      operationId: Query refunds
      requestBody:
        description: The refund query.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundQuery'
        required: true
      responses:
        '200':
          description: A collection of refunds that matches the requested query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope-List-Refund'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: refundQuery
  /API/Order/{orderId}/Refund/{refundId}/SetAsProcessed:
    post:
      tags:
        - Refund
      summary: Set refund as processed
      description: Sets a refund as processed and all refund rows within it as settled.
      operationId: Set refund as processed
      parameters:
        - name: orderId
          in: path
          description: The order id.
          required: true
          schema:
            type: integer
            format: int32
        - name: refundId
          in: path
          description: The refund id.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Contains optional fields for the processing.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order.Refund.Models.Write.ProcessedRefund'
        required: true
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: processedRefund
  /API/Order/{orderId}/Refund/{refundId}/SetAsSettled:
    post:
      tags:
        - Refund
      summary: Set refund as settled
      description: Sets all refund rows in a refund as settled.
      operationId: Set refund as settled
      parameters:
        - name: orderId
          in: path
          description: The order id.
          required: true
          schema:
            type: integer
            format: int32
        - name: refundId
          in: path
          description: The refund id.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Contains optional fields for the settlement.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order.Refund.Models.Write.SettledRefund'
        required: true
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: settledRefund
  /API/Order/{orderId}/Refund/{refundId}/RefundRow/{refundRowId}/SetAsSettled:
    post:
      tags:
        - Refund
      summary: Set refund row as settled
      operationId: Set refund row as settled
      parameters:
        - name: orderId
          in: path
          description: The order id.
          required: true
          schema:
            type: integer
            format: int32
        - name: refundId
          in: path
          description: The refund id.
          required: true
          schema:
            type: string
            format: uuid
        - name: refundRowId
          in: path
          description: The refund row id.
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        description: Contains optional fields for the settlement.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order.Refund.Models.Write.SettledRefundRow'
        required: true
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
      x-codegen-request-body-name: settledRefundRow
  /API/Order/{orderId}/Refund/{refundId}/RefundRow/{refundRowId}:
    delete:
      tags:
        - Refund
      summary: Delete refund row
      description: Delete a refund row. Can only be done if the refund row isn't settled.
      operationId: Delete refund row
      parameters:
        - name: orderId
          in: path
          description: The order id.
          required: true
          schema:
            type: integer
            format: int32
        - name: refundId
          in: path
          description: The refund id.
          required: true
          schema:
            type: string
            format: uuid
        - name: refundRowId
          in: path
          description: The refund row id.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseEnvelope'
      security:
        - basicAuth: []
          apiKey: []
  /API/Order/{orderId}/Refund:
    post:
      tags:
        - Refund
      summary: Creates refund
[...]
